.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;

}

form{
    background-color:whitesmoke;
    height: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(47, 71, 116);
    border-radius: 20px;
} 

label{
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    color: green;
    margin-right: 10px;
}

input{
    height: 40px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: 0px;
}

button{
    background: blue;
    height: 30px;
    width: 80px;
    border: 0px;
    color: aliceblue;
    margin-bottom: 50px
}

form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

