.parent{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    position: relative;
}

.pagination{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
}

table{
    width: 100%;
}

thead{
    background-color: rgb(34, 52, 85);
    color: white;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}

td{
    text-align: center;
    padding: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.back{
    position: fixed;
    top: 90vh;
    left: 20px;
}

.address{
    font-style: italic;
    width: 180px;
    display: inline-block;
    padding: 20px;
    border: 0px;
}

.address td{
    border: 0px;
}

.sorting{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: 0px;
    padding: 10px;
    margin-left: 70px;
    border-radius: 10px;
}

select{
    width: 100px;
    height: 35px;
}