<div class="parent">
    <form action="" [formGroup]="employeeForm">
        <label for="">Name :</label>
        <input placeholder="enter name" type="text" name="" id="" formControlName="name">
        <div *ngIf="employeeForm.get('name')?.touched || employeeForm.get('name')?.dirty">
            <p *ngIf="employeeForm.get('name')?.errors?.['required']">Plese enter your name</p>
        </div>
        <br>

        <label for="">Company :</label>
        <input placeholder="enter company name" type="text" name="" id="" formControlName="company">
        <div *ngIf="employeeForm.get('company')?.touched || employeeForm.get('company')?.dirty">
            <p *ngIf="employeeForm.get('company')?.errors?.['required']">Plese enter your companyName</p>
        </div>
        <br>

        <label for="">Role :</label>
        <input placeholder="enter name" type="text" name="" id="" formControlName="role">
        <div *ngIf="employeeForm.get('role')?.touched || employeeForm.get('role')?.dirty">
            <p *ngIf="employeeForm.get('role')?.errors?.['required']">Plese enter your role</p>
        </div>
        <br>

        <label for="">Package :</label>
        <input placeholder="enter package" type="number" name="" id="" formControlName="package">
        <div *ngIf="employeeForm.get('package')?.touched || employeeForm.get('package')?.dirty">
            <p *ngIf="employeeForm.get('package')?.errors?.['required']">Plese enter your package</p>
        </div>
        <br>

        <label for="">Email :</label>
        <input placeholder="enter email" type="email" name="" id="" formControlName="email">
        <div *ngIf="employeeForm.get('email')?.touched || employeeForm.get('email')?.dirty">
            <p *ngIf="employeeForm.get('email')?.errors?.['required']">Plese enter your email</p>
            <p *ngIf="employeeForm.get('email')?.errors?.['email']">Plese enter your email</p>
        </div>
        <br>

        <label for="">DOB :</label>
        <input placeholder="enter name" type="date" name="" id="" formControlName="dob">
        <br>

        <div formGroupName="address">
            <p class="caption">Address :</p>
            <label for="">Address Line :</label>
            <input placeholder="enter addresslane" type="text" formControlName="addresLine">
            <div
                *ngIf="employeeForm.get('address')?.get('addresLine')?.touched || employeeForm.get('address')?.get('addresLine')?.dirty">
                <p *ngIf="employeeForm.get('address')?.get('addresLine')?.errors?.['required']">Plese enter your Address
                    Lane</p>
            </div>
            <br>

            <label for="">City :</label>
            <input placeholder="enter city" type="text" formControlName="city">
            <div
                *ngIf="employeeForm.get('address')?.get('city')?.touched || employeeForm.get('address')?.get('city')?.dirty">
                <p *ngIf="employeeForm.get('address')?.get('city')?.errors?.['required']">Plese enter your City</p>
            </div>
            <br>

            <label for="">State :</label>
            <input placeholder="enter state" type="text" formControlName="state">
            <div
                *ngIf="employeeForm.get('address')?.get('state')?.touched || employeeForm.get('address')?.get('state')?.dirty">
                <p *ngIf="employeeForm.get('address')?.get('state')?.errors?.['required']">Plese enter your state</p>
            </div>
            <br>

            <label for="">Pincode :</label>
            <input placeholder="enter pincode" type="number" name="" id="" formControlName="pincode">
            <div
                *ngIf="employeeForm.get('address')?.get('pincode')?.touched || employeeForm.get('address')?.get('pincode')?.dirty">
                <p *ngIf="employeeForm.get('address')?.get('pincode')?.errors?.['required']">Plese enter your pincode</p>
                <p *ngIf="employeeForm.get('address')?.get('pincode')?.errors?.['min']">minimum 6 digits required</p>
                <p *ngIf="employeeForm.get('address')?.get('pincode')?.errors?.['max']">maximum 6 digits allowed</p>
            </div>
            <br>
        </div>

        <br>
        <button type="button" (click)="salaryHikes()" class="btn btn-success">Add salary</button>

        <div formArrayName="hikes">

            <div *ngFor="let salaries of salaryHikeFormArray.controls; let i=index">
                <div formGroupName="{{i}}">
                    <label for="">Year :</label>
                    <input placeholder="enter year" type="month" name="" id="" formControlName="year">
                    <br>

                    <label for="">Percentage :</label>
                    <input placeholder="enter hike percentage" type="number" name="" id="" formControlName="percentage">
                    <div *ngIf="salaryHikeFormArray.controls[i]?.touched || salaryHikeFormArray.controls[i]?.dirty">
                        <p *ngIf="salaryHikeFormArray.controls[i]?.errors?.['required']">Enter hike percentage</p>
                    </div>
                    <br>
                </div>
                <button type="button" class="btn btn-danger" (click)="delete(i)">delete</button>
            </div>
        </div>
        <br>
        <p class="caption">Work Mode :</p>
        <input class="radio" placeholder="enter " type="radio" name="workMode" value="workFromOffice" id=""
            formControlName="workMode">
        <label class="radio-lable" for="">WorkFromOffice :</label>

        <input class="radio" placeholder="enter name" type="radio" name="workMode" value="remote" id=""
            formControlName="workMode">
        <label class="radio-lable" for="">Remote :</label>
        <br>
        <div *ngIf="employeeForm.get('workMode')?.value === 'workFromOffice'">
            <label for="">Travell Fee :</label>
            <input placeholder="travell fee" type="number" name="" id="" formControlName="travelBill">
            <div *ngIf="employeeForm.get('travelBill')?.touched || employeeForm.get('travelBill')?.dirty">
                <p *ngIf="employeeForm.get('travelBill')?.errors?.['required']">Plese enter your travelBill</p>
            </div>
            <br>
        </div>

        <div *ngIf="employeeForm.get('workMode')?.value === 'remote' ">
            <label for="">Wifi Bill :</label>
            <input placeholder="wifi bill" type="number" name="" id="" formControlName="wifiBill">
            <div *ngIf="employeeForm.get('wifiBill')?.touched || employeeForm.get('wifiBill')?.dirty">
                <p *ngIf="employeeForm.get('wifiBill')?.errors?.['required']">Plese enter your wifiBill</p>
            </div>
            <br>
        </div>
        <br>
        <button type="button" (click)="submit()" class="btn btn-primary">submit</button>

    </form>


</div>