<div class="parent">
    <div class="left">
        <h1><marquee behavior="marquee" direction="">Dash Board</marquee></h1>
        <p class="option" [class.selected]="selectedOption==='Option1'" (click)="selectOption('Option1')"  routerLink="home">Home</p>
        <p class="option" [class.selected]="selectedOption==='Option2'" (click)="selectOption('Option2')"  routerLink="create-employee">Create Employee</p>
        <p class="option" [class.selected]="selectedOption==='Option3'" (click)="selectOption('Option3')"  routerLink="employees">All Employees</p>
        <button (click)="logout()" class="btn btn-warning">Logout</button>
    </div>
    <div class="right">
       <router-outlet></router-outlet>
    </div>
</div>