.parent{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuY5v0aJZ1l8WfQGdygWwl0iLZHSZ8HUvGQw&usqp=CAU');
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: red;
}

p{
    padding: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.left{
    width: 100%;
    background-color: rgba(250, 235, 215, 0.537);
    padding-top: 50px;
}



h4{
    margin-left: 50px;
    color:red;

}

h6{
   color:black;
   margin-left: 80px;
   margin-bottom: 30px;
}