<div class="parent">
    <div class="left">
        <h1>About Us </h1>
        <p>
            Today, Wells Fargo is a leading financial services company with approximately $1.9 trillion in assets. In the U.S., it serves one in three households and more than 10% of small businesses, and is a leading middle-market banking provider.

            Wells Fargo works to create positive social impact in the communities it serves by supporting housing affordability, small business growth, financial health, and a low-carbon economy.
        </p>
        <h4> Founding and History:</h4>
        <h6>
            Today, Wells Fargo is a leading financial services company with approximately $1.9 trillion in assets. In the U.S., it serves one in three households and more than 10% of small businesses, and is a leading middle-market banking provider.

            Wells Fargo works to create positive social impact in the communities it serves by supporting housing affordability, small business growth, financial health, and a low-carbon economy.

        </h6>

        <h4>
            Business Areas:

        </h4>
        <h6>
            Today, Wells Fargo is a leading financial services company with approximately $1.9 trillion in assets. In the U.S., it serves one in three households and more than 10% of small businesses, and is a leading middle-market banking provider.

            Wells Fargo works to create positive social impact in the communities it serves by supporting housing affordability, small business growth, financial health, and a low-carbon economy.
        </h6>


        <h4>
            Leadership and Awards:

        </h4>

        <h6>
            Today, Wells Fargo is a leading financial services company with approximately $1.9 trillion in assets. In the U.S., it serves one in three households and more than 10% of small businesses, and is a leading middle-market banking provider.

            Wells Fargo works to create positive social impact in the communities it serves by supporting housing affordability, small business growth, financial health, and a low-carbon economy.
        </h6>



    </div>

</div>