<div class="parent">
    <div class="left">
        <h1>About Us </h1>
        <p>

            Tata Consultancy Services (TCS) is an Indian multinational information technology (IT) services and
            consulting company. It is part of the Tata Group, one of the largest and oldest conglomerates in India. TCS
            is headquartered in Mumbai, Maharashtra, India, and operates in numerous countries around the world.
        </p>
        <h4> Founding and History:</h4>
        <h6>
            TCS was founded in 1968 by Tata Sons, the parent company of the Tata Group.
            It is one of the oldest and largest IT services companies in India.

        </h6>

        <h4>
            Business Areas:

        </h4>
        <h6>
            TCS provides a wide range of IT services, including software development, business process outsourcing,
            infrastructure services, and consulting.
            The company serves clients in various industries, including banking and financial services, healthcare,
            retail, manufacturing, telecommunications, and more.
        </h6>


        <h4>
            Leadership and Awards:

        </h4>

        <h6>
            TCS has been led by various leaders, with Natarajan Chandrasekaran and Rajesh Gopinathan being notable
            figures.
            The company has received numerous awards for its business performance, corporate governance, and social
            responsibility initiatives.
        </h6>



    </div>

</div>